img{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(212, 194, 194);
    border-radius: 22px;

}
.scroll-container{
    max-width: 600px;
    display: flex;
    overflow: scroll;
    border: 1px solid black;
}
.scroll-container .scroll-item{
    margin: 5px;
    min-width: 200px;
    height: 200px;
    text-align: center;
    
   
    padding: 5px;
  
}
.container{
    max-width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;

}